<script>
$('textarea.tinymce').html()
</script>
<div class="container">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.text_field :title, placeholder: "Title", class: "form-control w-50" %>
    </div>

    <div class="field">
      <%= form.rich_text_area :content, placeholder: "What is new?" %>

    </div>

    <div class="field no-display">
      <%= form.label :date %>
      <%= form.date_select :date %>
    </div>

    <div class="actions text-center">
      <%= form.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>