<div class="container">
  <%= form_with(model: post, local: true) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.text_field :title, placeholder: "Naslov", class: "form-control w-50" %>
    </div>

    <div class="field">
      <%= form.text_area :body, rows: 20, placeholder: "Kaj novega?", class: "form-control custom-textarea" %>
    </div>

    <div class="field no-display">
      <%= form.label :date %>
      <%= form.date_select :date %>
    </div>

    <div class="actions">
      <%= form.submit "Objavi", class: "btn btn-primary custom-button text-center" %>
    </div>
  <% end %>
</div>
