<!DOCTYPE html>
<html>
  <head>
    <title>Journal</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
    <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  </head>

  <body class="container custom-body">
    <script>
      setTimeout(fade_out, 2000);
      function fade_out() {
        $(".alert-tag").fadeOut().empty();
      }
    </script>
    
    <%= show_notice %>
    <%= show_alert %>

    <%= yield %>

  </body>
</html>
